/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(218, 218, 218);
    font-family: 'Mulish', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Font Of Headers */

h1, legend, .header-ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
}


/* ---- Header ---- */
.nav{
    background:linear-gradient(rgba(230, 102, 102, 0.5), rgb(145, 152, 229, 0.4));
    padding-bottom: 20px;
}

.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-ul li{
    margin-top: 20px;
    padding: 5px;
}

.header-ul li:hover{
    border-bottom: turquoise 3px solid;
    border-radius: 5px;
    transition: all .4s ease-out;
}


/* --- The body section --- */

.the-body, .the-about, .field-form,.footer  {
    display: flex;
    flex-direction: column; 
    justify-content: center;   
}

.the-body{
    width: 80%;
    margin: auto;
    
}


/* ---- About Section ---- */

.the-about{
    margin-top: 20px;
}


.the-about > *{
    margin: auto;
}

.my-about{
    margin-top: 20px;
    word-spacing: 1px;
    line-height: normal;
}


/* ---- Form ---- */

.form-section{
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 25px rgb(143, 35, 71);
    background-image: url(".//images/annie-spratt-ALA29tftnUc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.field-form legend{
    padding-top: 10px;
    display: block;
    margin-left: 7px;
    margin-bottom: 15px;
    
}


.field-form input{
    border-radius: 10px;
    border: none;
    padding: 6px 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70%;
    text-indent: 10px;
    color: rgb(100, 100, 100);
    background-color: rgb(238, 238, 238);
}

.field-form input:active{
    border: solid 1px rgb(53, 133, 199);
}


.field-form label{
    margin-left: 15%;
}


/* The submit buttom/input */
input[type="submit"]{
    background-color: lightgreen;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color:rgb(143, 35, 71);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover{
    cursor: pointer;
}


/* Image gallery section */


.image-gallery{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    
}


.changing-image1, .changing-image2 {
    height: 60px;
    padding: 0 17px;
    margin: 25% 2%;
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 50%;
}




.arrow {
    border: solid rgb(104, 104, 104);
    border-width: 6px 0 0 6px;
    display: inline-block;
    padding: 5px;
    overflow: hidden;
  }

  .changing-image1:hover, .changing-image2:hover{
    transition: transform 1s cubic-bezier(0,-0.91,.02,.25);
    transform: scale(1.2);
  }


  .left{
    transform: rotate(-47deg);
  }

  .right{
    transform: rotate(138deg);
  }



.image-gallery img{
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 7px;
    
}



/* ---- Footer ---- */

.footer{
    display: block;
    width: 100%;
    
}


.in-footer{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    background-color: rgb(235, 235, 194);
    width: 100%;
}

.in-footer li{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 15px;
    color:rgb(143, 35, 71);
}
