/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(218, 218, 218);
    font-family: 'Mulish', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Font Of Headers */

h1, legend, .header-ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
}


/* ---- Header ---- */
.nav{
    /* background:linear-gradient(rgba(230, 102, 102, 0.5), rgb(145, 152, 229, 0.4)); */
    background-color:white;
    padding-bottom: 20px;
    box-shadow: 3px 3px 5px rgb(145, 152, 229, 0.4);
    border-radius: 0 0 5px 5px ;
}

.header-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-ul li{
    margin-top: 20px;
    padding: 5px;
}

.header-ul li a{
    text-decoration: none;
    color: black;
}

.header-ul li a:active {
    color: none;
}


.header-ul li:hover{
    border-bottom: turquoise 3px solid;
    border-radius: 5px;
    transition: all .4s ease-out;
}


/* --- The body section --- */

.the-body, #the-about, .field-form,.footer  {
    display: flex;
    flex-direction: column; 
    justify-content: center;   
}

.the-body{
    width: 80%;
    margin: auto;
    
}


/* ---- About Section ---- */

#the-about{
    margin-top: 20px;
}


#the-about > *{
    margin: auto;
}

.my-about{
    margin-top: 20px;
    word-spacing: 1px;
    line-height: normal;
}


/* ---- Form ---- */

.form-section{
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 25px rgb(143, 35, 71);
    background-image: url(".//images/annie-spratt-ALA29tftnUc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.field-form legend{
    padding-top: 10px;
    display: block;
    margin-left: 7px;
    margin-bottom: 15px;
    
}


.field-form input{
    border-radius: 20px;
    border: none;
    padding: 6px 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70%;
    text-indent: 15px;
    color: black;
    background-color: rgb(248, 214, 214);
    box-shadow: 2px 2px 5px rgb(216, 107, 107);
}

.field-form input:active{
    border: solid 1px rgb(53, 133, 199);
}


.field-form label{
    margin-left: 15%;
}


/* The submit buttom/input */
input[type="submit"]{
    background-color: lightgreen;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color:rgb(143, 35, 71);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
}

input[type="submit"]:hover{
    cursor: pointer;
}


/* Image gallery section */

.image-gallery{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    
}

/* Image gallery header */

.image-gallery-header{
    margin: 30px 10px 0 10px;
}

.hr-gallery{
    background-color: rgb(195, 187, 190);
    width: 100%;
    padding: 1px 0;
    border: none;
}



/* Div in image gallery  */

.div-in-gallery{
    display: flex;
    flex-direction: row;
}

/* Gallery buttons */

.changing-image1, .changing-image2 {
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 50%;
}


.arrow {
    border: solid rgb(104, 104, 104);
    border-width: 6px 0 0 6px;
    display: inline-block;
    padding: 5px;
    overflow: hidden;
  }

  .changing-image1:hover, .changing-image2:hover{
    transition: transform 1s cubic-bezier(0,-0.91,.02,.25);
    transform: scale(1.2);
    background: none;
  }


  .left{
    transform: rotate(-47deg);
  }

  .right{
    transform: rotate(138deg);

  }



.image-gallery img{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 7px;
    
}



/* ---- Footer ---- */

.footer{
    border-top: grey solid 1px;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: rgb(235, 235, 194);
    flex-direction: column;
    display: flex;
    padding-bottom: 20px
}


.all-options-footer{
    font-weight: 600;
    margin: 5px 0 0 15px;
}

.all-options-footer:hover{
    cursor: pointer;
}


.all-options-footer li {
    margin: 7px 0;
    padding: 5px 0;
}

.arrow-footer-options{
    float:right;
    border: solid black 2px;
    padding: 3px 3px;
    border-width: 2px 0 0 2px;
    margin-right: 10px;
    transform: rotate(-135deg);
}



.hr-footer-between-ul{
    background-color: rgb(195, 187, 190);
    border: none;
    padding: 1px 0;
    width: 90%;    
    margin: 15px auto;
}


.in-footer{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.in-footer li a{
    font-size: 27px;
    margin-top: 20px;
    margin-left: 15px;
    color:rgb(143, 35, 71);
    float: right;
    text-decoration: none;
}


/* Footer List click */


.list {
    display: block;
}

.categories-under-list{
    font-size: 15px;
    margin-left: 5px;
    color: rgb(131, 131, 131);
    display: none;
}

.categories-under-list li:hover{
    display: inline-block;
    border-bottom: 2px solid rgb(172, 172, 172);
    
}


/* Media screen changes */
@media(min-width: 768px){

    /* --- Header --- */

    #the-about h1{
        margin: 20px auto;
        font-size: 20px;
        font-weight: 800;
    }


    /* --- Form --- */

    .field-form label{
        font-size: 15px;
        font-weight: 700;
    }
    
    input[type="submit"]{
        font-weight: 700;
        font-size: 20px;
        width: 50%;
        border-radius: 10px;
    }

    
    /* --- Image gallery --- */
    .image-gallery img{
        height: 210px;
    }




    /* -- Footer */
    .all-options-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .arrow-footer-options{
        display: none;
    }

    .categories-under-list{
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .in-footer li a{
        font-size: 35px;
        margin: 0 10px;
    }

}


@media(min-width: 1100px) {
    
    /* --- The header --- */

    .header-ul li {
        font-size: 20px;
    }
    
    /* --- The about section --- */

    #the-about h1{
        font-size: 25px;
    }
    
    
    .my-about{
        font-size: 20px;
    }

    /* --- Image gallery --- */
    
    .image-gallery img{
        height: 300px;
    }

    .arrow{
        padding: 20px;
    }

    .image-gallery-header{
        font-size: 25px;
    }


    /* --- Footer --- */
    .footer{
        font-size: 20px;
    }

    .categories-under-list{
        font-size: 17px;
    }

}


@media(min-width: 1400px){

    /* --- Form --- */

    .form-section{
        margin: 50px auto;
        width: 50%;
        height: 700px;
        display: flex;
    }

    #a-form{
        height: 100%;
        width: 90%;
        margin: auto;
    }

    #a-form .field-form label{
        font-size: 20px;
    }

    #a-form .field-form input{
        padding: 15px 0;
    }


    .form-section #a-form .field-form legend{
        padding-top: 50px;
        margin: 70px auto ;
        font-size: 20px;
    }


    input[type="submit"]{
        margin-top: 90px;
        width: 60%;
    }

    /* --- Image gallery --- */

    .image-gallery .div-in-gallery img{
        height: 500px;
    }

}






